-# this template is a bunch of placeholders for javascript to put content in - se bubonem.js for more...
-# the attibute data-timeout if the number of minutes to wait before updating the view
-# the attribute data-url is the endpoint to call to get data to this view.
.all
  %header
    %span.widget{ 'data-timeout': 1, 'data-url': '/current_time' }
    %span.widget#sun{ 'data-timeout': 60 * 24, 'data-url': '/sun' }
  .main
    .column
      - stops.each do |one_stop|
        %section.widget{ 'data-timeout': 1, 'data-url': "/stop/#{one_stop}" }
    .column
      %section.widget#weather_forecast{ 'data-timeout': 60, 'data-url': "/weather_forecast?lat=#{lat}&lon=#{lon}" }
  .footer
    %span.widget{ 'data-timeout': 1, 'data-url': "/current_time?fmt=%25k:%25M" }

