.all
  %header
    %span.widget{ 'data-timeout': 1, 'data-url': '/current_time' }
    %span.widget#sun{ 'data-timeout': 60 * 24, 'data-url': '/sun' }
  .main
    .column
      - stops.each do |one_stop|
        %section.widget{ 'data-timeout': 1, 'data-url': "/stop/#{one_stop}" }
    .column
      %section.widget#weather_forecast{ 'data-timeout': 60, 'data-url': "/weather_forecast?lat=#{lat}&lon=#{lon}" }
    .column
      %iframe#traffic_map{ src: 'https://trafiken.nu/stockholm/#fullscreen', width: mapw, height: maph }


