!!!
%html
  %head
    %title
      bubonem
    %link{ href: 'bubonem.css', rel: 'stylesheet' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Fira Mono' }

    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
    %script{ src: 'bubonem.js' }
  %body
    .all
      %header
        %span.current_time{ 'data-timeout': 1 }
        %span.widget#sun{ 'data-timeout': 60 * 24, 'data-url':'/sun' }
      .main
        .column
          %section.edsbergsskolan{ 'data-timeout': 1 }
          %section.axroad{ 'data-timeout': 1 }
        .column
          %section.weather_forecast{ 'data-timeout': 60 }
        .column
          %iframe{ src: 'https://trafiken.nu/stockholm/#fullscreen', width: 850, height: 850 }
