!!!
%html
  %head
    %title
      bubonem
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
    %script{ src: 'bubonem.js' }
  %body
    .edsbergsskolan
    .axroad
    .weather_forecast
