!!!
%html
  %head
    %title
      bubonem
    %link{ href: 'bubonem.css', rel: 'stylesheet' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Fira Mono' }

    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
    %script{ src: 'bubonem.js' }
  %body
    .all
      %header
        %span.widget{ 'data-timeout': 1, 'data-url': '/current_time' }
        %span.widget#sun{ 'data-timeout': 60 * 24, 'data-url': '/sun' }
      .main
        .column
          %section.widget{ 'data-timeout': 1, 'data-url': '/bus_stop/5518' }
          %section.widget{ 'data-timeout': 1, 'data-url': '/bus_stop/5515' }
        .column
          %section.widget#weather_forecast{ 'data-timeout': 60, 'data-url': '/weather_forecast' }
        .column
          %iframe#traffic_map{ src: 'https://trafiken.nu/stockholm/#fullscreen', width: 850, height: 850 }
