!!!
%html
  %head
    %title
      bubonem
    %link{ href: 'bubonem.css', rel: 'stylesheet' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Fira Mono' }

    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' }
    %script{ src: 'bubonem.js' }
  %body
    .all
      %header
        %span.time
          2016-10-09 15:51
        %span.sun
          = "up: #{sunrise.viewable_time_of_day} &middot; down: #{sunset.viewable_time_of_day}"
      .main
        .column
          %section.edsbergsskolan
          %section.axroad
        .column
          %section.weather_forecast
