!!!
%html
  %head
    %title
      bubonem
    %link{ href: 'bubonem.css', rel: 'stylesheet' }
    %link{ href: "ornaments/#{ornament}.css", rel: 'stylesheet' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Fira Mono' }
    %link{ rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Syne Mono' }

    %script{ src: 'bubonem.js' }

    - scripts ||= []
    - scripts.each do |script|
      %script{ src: "#{script}.js" }
      
    %script{ src: 'https://use.fontawesome.com/c8fc92bdfd.js' }
  %body
    = yield
