%ul
  - station_list.each do |one_station|
    %li
      %a.one-stop-to-select{ "data-type": one_station["Type"], "data-stop-id": one_station["SiteId"], title: "Klicka för att välja" }
        = one_station["Name"]
  
