.stop_header
  %span.stop_name= departures[0]['stopAreaName']
%hr
.departures
  %table
    - departures[0...17].each do |one_departure|
      %tr.one_departure
        %td.arrival_time= one_departure['time']['displayTime']
        %td.line= one_departure['transport']['line']
        %td.destination= one_departure['destination']      
