.stop_header
  %span.stop_name= departures[0]['stop_area']['name']
.departures
  %table
    - departures[0...17].each do |one_departure|
      %tr.one-departure
        %td.arrival-time= one_departure['display']
        %td.line= one_departure['line']['designation']
        %td.destination= one_departure['destination']
