
body {
    background-color: black;
    color: white;
    height: 800px;
    font-family: 'Fira Mono', 'Courier New',  monospaced;
    font-size: 20px;
}

.all, .main {
    display: flex;
}

.all {
    flex-direction: column;
}

section, header, iframe {
    margin: 10px;
    padding: 20px;
    background-color: darkred;
    border-radius: 20px;
    border: black;
}

header {
    background-color: darkblue;		
}

.stop_header {
    font-size: 36px;
}

td {
    padding-right: 30px;
}

.number {
    text-align: right;
}

.symbol img {
    width: 40px;
}

#weather_forecast {
    background-color: darkgreen;
}

#sun {
    float: right;
}

#traffic_map {
    background-color: darkseagreen;
}

.front {
    width: 720px;
    margin: 50px;
}

.stop-picker {
    display: none;
    background-color: darkgreen;
    border-radius: 20px;
    position: relative;
    top: -20px;
    left: 50px;
    padding:20px;
    width: 400px;
}
